<!DOCTYPE html>
<html>
<head>
    <title>Employee Filter</title>
    <script src="angular.min.js"></script>
    <script>
        var app = angular.module("myEmp",[]);
        app.controller("empCntrl",function($scope){
            $scope.list=[
                {'name':'Akanksha Bharti','salary':700000},
                {'name':'Manik Sinha','salary':650000},
                {'name':'Asha Sinha','salary':600000},
                {'name':'Nikita Gupta','salary':750000}
            ]
            $scope.clear=function(){
                $scope.name=''
                $scope.salary=''
            }
        });
    </script>
</head>
<body ng-app="myEmp">
    <h1>Employee Search Application</h1>
    <div ng-controller="empCntrl">
        Search by Name:<input type="text" ng-model="name">
        Search by Salary:<input type="number" ng-model="salary"><br>
        <button ng-click="clear()">Clear Filters</button><br><br>
        <h3>List of Employees</h3>
        <table border="1">
            <tr>
                <th>SlNo</th>
                <th>Emp Name</th>
                <th>Salary</th>
            </tr>
            <tr ng-repeat="emp in list | filter:{name:name,salary:salary}">
                <td>{{$index+1}}</td>
                <td>{{emp.name}}</td>
                <td>{{emp.salary}}</td>
            </tr>
        </table>
    </div>
</body>
</html>